@media (max-width: 320px){

    /*header*/
    header{
        z-index: 5;
        top: 0;
        position: sticky;

        height: 139px;
        flex-direction: column;

        justify-content: unset;

    }

    .mainLogo{
        margin: 0;

        margin-top: 12px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .mainLogo img{
        width: 86.93px;
        height: 65.67px;

        margin-bottom: 10px;
    }

    .mainLogo h1{
        margin-left: 18px;
    }

    #inputSearch{
        margin-left: 5px;
        width: 205px;
        height: 36px;
    }

    #searchBox {
        width: 292px;
        height: 38.198px;
    }

    #buttonSearch{
        top: 8.49px;
        left: 216.45px;

        width: 61.965px;
        height: 21.221px;
    }

    /*weather card*/
    .weatherCard{
        margin: 32px auto 0;

        width: 295.295px;
        height: 267px;
    }

    .iconsCard{
        margin: 20px auto 0;

        width: 217px;
        height: 133.707px;

        grid-template-columns: 75px 132px;
        grid-column-gap: 11px;
    }

    .iconsCard h3{
        font-size: 50px;

        text-align: center;
        margin-top: 51px;
    }

    .iconsCard img{
        width: 131.515px;
        height: 133.707px;
    }



    .info{
        margin: 8px auto 0;
        width: 211px;
        height: 85px;
    }

    .info h3{
        font-size: 25px;
    }

    .info span{
        font-size: 13px;

        margin-top: 10px;
    }

    .x{
        top: 13px;
        left: 258px;
    }

}