header{
    width: 100%;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    flex-wrap: wrap;
    align-content: center;

    background-color: #F7F7F7;
}

.mainLogo{
    margin: 0;
    width: 216px;
    height: 60px;
}

#searchBox {
    display: flex;
    width: 620px;
    height: 31px;
    gap: 10px;
    padding: 4px 4px 4px 12px;

    border-radius: 12px;
    background: #EBEBEB;
}

#inputSearch{
    padding: 0;
    width: 501px;
    height: 31px;

    border-radius: 12px;
    border: 0px solid #000;
    background: #EBEBEB;
}

#inputSearch:focus{
    outline: none;
}

#buttonSearch{
    width: 115px;
    height: 31px;

    border-radius: 8px;
    background: #7D04F6;

    color: #FFF;
    font-family: Noto Sans, serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

input[type=submit],input[type=reset] {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:none; /* optional */
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    padding: 0;
}

/*recolor placeholder*/

#inputSearch ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #000;
}
#inputSearch :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000;
    opacity:  1;
}
#inputSearch ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;
    opacity:  1;
}
#inputSearch :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
}
#inputSearch ::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
}

#inputSearch ::placeholder { /* Most modern browsers support this now. */
    color: #000;
}