.weatherCard{
    overflow: hidden;

    position: relative;

    width: 270px;
    height: 122px;

    padding: 8px 54px 8px 16px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    border-radius: 16px;
}

.sunny{
    background: linear-gradient(180deg, #878787 0%, #EC7824 100%);
}

.cloudy{
    background: linear-gradient(180deg, #878787 0%, #262E72 100%);
}

.rainy{
    background: linear-gradient(180deg, #878787 0%, #212121 100%);
}

.city{
    overflow: hidden;
    color: #FFF;

    text-overflow: ellipsis;

    font-family: Noto Sans, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info{
    display: grid;

    grid-template-columns: 78px 142px 86px;


    width: 306px;
    height: 89px;
}

.about{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.about div{
    color: #FFF;

    font-family: Noto Sans, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about span{
    color: #FFF;

    font-family: Noto Sans, serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.degree{

    margin-top: 20px;

    color: #FFF;

    font-family: Noto Sans, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    text-align: center;
}

.degreeIcon{
    width: 86px;
    height: 89px;
}

.x{
    position: absolute;

    width: 16px;
    height: 16px;

    top: 16px;
    left: 308px;

    cursor: pointer;
}

.background {
    width: 204px;
    height: 211px;

    position: absolute;
    left: 68px;

    top: -37px;

    opacity: 0.1;
    filter: blur(8px);
}